@import url(chrome://global/skin/);

#SLShareButton
{
    -moz-image-region: rect(0 50px 17px 0);
   border: black solid 1px;
   background-image: url("chrome://ffplugin/skin/share_facebook.png");
}

#SLFBName
{
  margin-top: 7px;
}

